{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <h1>{{ type }} - {{ user.username }}</h1>
        <a href="{% url 'cabinet' %}">
            <button>
                My cabinet
            </button>
        </a>
        <br>
        <a href="{% url 'groups' %}">
            <button>
                Groups
            </button>
        </a>
        <br>
        <a href="{% url 'logout' %}">
            <button>
                Log Out
            </button>
        </a>
        <br>
        <a href="{% url 'all_students' %}">
            <button>
                Set Attendance
            </button>
        </a>
        <br>
        <a href="{% url 'add_subjects' %}">
            <button>
                Add New Subject
            </button>
        </a>
        {% for subject in subjects.all %}
            <h3>Subject name: {{ subject.title }}</h3>
            <p>Price: {{ subject.price }}</p>
        {% endfor %}
    {% else %}
        <h1>You not auth</h1>
        <a href="{% url 'login' %}">
            <button>
                Log In
            </button>
        </a>
        <br>
    {% endif %}
{% endblock content %}