{% extends 'base.html' %}
{% block content %}
    <h1>{{ student.name }} {{ student.surname }}</h1>
    <h4>{{ student.group.name }}</h4>
    <a href="{% url 'change_student' %}">
        <button>
            Change name/surname
        </button>
    </a>
    <h1>Your Grades History:</h1>
    <ul>
        {% for grade in grades %}
            <li>
                <h3>Subject title: {{ grade.subject.title }}:</h3>
                <p>Points: {{ grade.points }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}